In [104]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
f = pd.read_csv('titanic_data.csv')
X = f[['Pclass','Fare']]
y = f['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)
X_test.head()
#(891,12) 891 คือจำนวนข้อมูลที่มี ส่วน 12 คือหัวข้อที่มี

     Pclass     Fare
709       3  15.2458
439       2  10.5000
840       3   7.9250
720       2  33.0000
39        3  11.2417

In [77]:
import numpy as np
age = f['Age'].values
age = np.reshape(age,(-1,1))

In [79]:
#ทีนี้ใช้ฟังก์ชั่น SimpleImputer เพื่อนำค่าอื่นมาแทนที่ “NaN” โดยค่าที่เราจะให้มาแทนคือค่าที่ปรากฏบ่อยที่สุด
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values = np.nan , strategy='most_frequent')
imp.fit(age)
#นำ imp มาใส่ใน f['Age']
f['Age'] = imp.transform(age)
#ดูความสอดคล้องขอข้อมูล
#f.corr()*100

In [80]:
f = pd.concat([f,pd.get_dummies(f['Sex'], prefix='Sex', dummy_na=True)],axis=1).drop(['Sex'],axis=1)
f.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Sex_nan
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,1,0,0
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,0,1,0

In [100]:
X = f[['Pclass','Fare','Sex_female','Sex_male']]
y = f['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7910447761194029

In [82]:
X = f[['Pclass','Fare','Sex_female','Sex_male','Age']]
y = f['Survived']
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X = scale.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
from sklearn.metrics import accuracy_score,classification_report
print('ACC ',accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

ACC  0.7985074626865671
              precision    recall  f1-score   support

           0       0.81      0.86      0.83       157
           1       0.78      0.71      0.75       111

    accuracy                           0.80       268
   macro avg       0.80      0.79      0.79       268
weighted avg       0.80      0.80      0.80       268

In [83]:
from sklearn.model_selection import GridSearchCV
parameters = {'C': np.arange(1,10,0.5)}
lr_best = GridSearchCV(lr, parameters, cv=5)
lr_best.fit(X_train,y_train)
lr_best.best_estimator_

LogisticRegression(C=2.5)

In [84]:
y_pred = lr_best.predict(X_test)
from sklearn.metrics import accuracy_score
print('ACC ',accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

ACC  0.7985074626865671
              precision    recall  f1-score   support

           0       0.81      0.86      0.83       157
           1       0.78      0.71      0.75       111

    accuracy                           0.80       268
   macro avg       0.80      0.79      0.79       268
weighted avg       0.80      0.80      0.80       268

In [89]:
import pickle
X = f[['Pclass','Fare']]
y = f['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lr = LogisticRegression()
lr.fit(X_train,y_train)
pickle.dump(lr, open('model.p','wb'))

In [91]:
y.shape

(891,)